.about{
    padding: 173px 87px ;
}
.about > div{
    display: flex;
    gap: 100px;
    align-items: center;
}
.about img{
    width: 500px;
}
.outlined-title::after {
    content: " ";
    height: 1px;
    background-color: #DA3414;
    width: 171px;
    display: block;
    margin-top: 12px;
}
.about h2{
    margin-bottom: 23px;
}
.about p{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 40px;
}
.about p:last-child{
    margin-bottom: 0;
}
